{% extends 'author/index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
<div class="content container-fluid">
    {% for message in messages %}
                                <br><div class="row">
                                    <div class="col-lg-0.5"></div>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="alert col-lg-11">
                                 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                 <strong></strong>{{ message }}
                                 </div>
                                <div class="col-lg-0.5"></div>
                            </div>
                        {% endfor %}

<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-body pt-0">
<div class="card-header">
<h5 class="card-title">Add Blog</h5>
</div>
<form action="/bidlanceadmin/blog-save" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="settings-form">
    <div class="row">
        <div class="col-md-12">

<div class="form-group">
<label>Blog Title</label>
<input type="text" name="btitle" class="form-control" placeholder="Enter Blog Title" required>
</div>
</div>

    </div>
            <div class="row">
        <div class="col-md-12">

<div class="form-group">
<label>Blog Description</label>
    <textarea type="text" name="bdscp" class="form-control" placeholder="Enter Blog Description" rows="6" required></textarea>
</div>
</div>

    </div>
        <div class="user-profile-action mb-4 d-flex align-items-center">
                           <div>
                                <img src="" id="blah" class="radius-round border" style="max-width:200px;max-height:180px;">
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="user-upload-img-wrap">
                                <div class="file-upload-wrap file-upload-wrap-2">
                                    <input type="file" name="bpic" class="multi file-upload-input with-preview" multiple maxlength="1" onchange="readURL(this);" required>
                                </div>
                            </div>
                        </div>
        <script>
        function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
            $('#blah').attr('src', e.target.result).width(150).height(200);
            };

         reader.readAsDataURL(input.files[0]);
         }
        }
    </script>
<div class="form-group mb-0">
<div class="settings-btns">
<button type="submit" class="btn btn-orange">Add Blog</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>





{% endblock content %}