{% extends 'author/index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Categories</h3>
</div>
<div class="col-auto">
<a href="#" class="btn add-button me-2" data-bs-toggle="modal" data-bs-target="#add-category">
<i class="fas fa-plus"></i>
</a>
</div>
</div>
</div>


<div class="card filter-card" id="filter_inputs">
<div class="card-body pb-0">
<form action="#" method="post">
<div class="row filter-row">
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>Add Categories</label>
<input class="form-control" type="text">
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>From Date</label>
<div class="cal-icon">
<input class="form-control datetimepicker" type="text">
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<label>To Date</label>
<div class="cal-icon">
<input class="form-control datetimepicker" type="text">
</div>
</div>
</div>
<div class="col-sm-6 col-md-3">
<div class="form-group">
<button class="btn btn-primary btn-block" type="submit">Submit</button>
</div>
</div>
</div>
</form>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<div class="table-responsive">
<table class="table table-center table-hover mb-0 datatable">
<thead>
<tr>
<th>S.No</th>
<th>Category Name</th>
<th class="text-end">Actions</th>
</tr>
</thead>
 <tbody>
 {% for i in category %}
<tr>
<td>
{{i.pk}}
</td>
<td>{{i.category}}</td>
<td class="text-end">
<a href="{% url 'bidlanceadmin/delete' pk=i.pk %}" class="btn btn-sm btn-danger" ><i class="far fa-trash-alt"></i></a>
</td>
</tr>
 {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade custom-modal" id="add-category">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">

<div class="modal-header">
<h4 class="modal-title">Add Category</h4>
<button type="button" class="close" data-bs-dismiss="modal"><span>&times;</span></button>
</div>

<div class="modal-body">
<form action="/bidlanceadmin/add-category" method="post">
 {% csrf_token %}
<div class="form-group">
<label>Category Name</label>
<input type="text" class="form-control" placeholder="Enter Category Name" name="new">
</div>
<div class="mt-4">
<button type="submit" class="btn btn-primary btn-block">Submit</button>
</div>
</form>
</div>
</div>
</div>
</div>



{% endblock content %}