{% extends 'author/index.html' %}
{% block content %}
{% load static %}

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Users</h3>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<div class="table-responsive">
<table class="table table-center datatable">
<thead>
<tr>
<th>Image</th>
<th>Username</th>
    <th>Full Name</th>
<th>Email</th>
<th>Joined date</th>
</tr>
</thead>
<tbody>
{% for i in data %}
<tr>
<td>
<h2 class="table-avatar">
<a href="profile.html"><img class="me-2 rounded-circle" src="{{ i.userimage.image.url }}" alt="User Image">
</a>
</h2>
</td>
    <td>{{i.username}}</td>
    <td>{{i.first_name}} {{i.last_name}}</td>
<td>{{i.email}}</td>
<td>{{i.userimage.date_added}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>


{% endblock content %}