<div class="chat-cont-right">
<div class="chat-header">
<a id="back_user_list" href="javascript:void(0)" class="back-user-list">
<i class="material-icons">chevron_left</i>
</a>
<div class="media d-flex">
<div class="media-img-wrap flex-shrink-0">
<div class="avatar avatar-online">
<img src="{% static 'assets/img/img-05.jpg' %}" alt="User Image" class="avatar-img rounded-circle">
</div>
</div>
<div class="media-body flex-grow-1">
<div class="user-name">Doris Brown </div>
</div>
</div>
<div class="chat-options">
</div>
</div>
<div class="chat-body">
<div class="chat-scroll">
<ul class="list-unstyled">

<li style="background-color:#e8e8e8;color:#1a1919;border-radius: 5px;">
<div class="media-body flex-grow-1">
<div class="msg-box">
<div>
<p>&nbsp;&nbsp;Good morning, How are you? What about our next meeting?</p>
<ul class="chat-msg-info">
<li>
<div class="chat-time">
<span>&nbsp;&nbsp;10:02 AM</span>
</div>
</li>
</ul>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>
<div class="chat-footer">
<div class="input-group">
<input type="text" class="input-msg-send form-control" placeholder="Reply...">
<div class="btn-file btn">
<i class="far fa-grin fa-1x"></i>
</div>
<div class="btn-file btn">
<i class="fa fa-paperclip"></i>
<input type="file">
</div>
<button type="button" class="btn btn-primary msg-send-btn rounded-pill"><i class="fab fa-telegram-plane"></i></button>
</div>
</div>
</div>